body {
    background: #34ce57 ;
}

table {
    background: white;
}

button.fc-next-button.btn.btn-primary:hover {
    background: #1e6500;
    border:#34ce57;
}

button.fc-prev-button.btn.btn-primary:hover {
    background:#1e6500;
    border:#34ce57;

}

button.fc-next-button.btn.btn-primary {
    background: #34ce57;
    border: #34ce57;
}

button.fc-prev-button.btn.btn-primary {
    background: #34ce57;
    border: #34ce57;

}

button.fc-today-button.btn.btn-primary {
    background: #34ce57;
    border: #34ce57;
}

button.fc-today-button.btn.btn-primary:hover {
    background: #1e6500;
    border: #34ce57;
}

button.fc-month-button.btn.btn-primary{
    background: #34ce57;
    border: #34ce57;
}
button.fc-month-button.btn.btn-primary:hover{
    background: #1e6500;
    border: #34ce57;
}
button.fc-month-button.btn.btn-primary.active{
    background: #1e6500;
    border: #34ce57;
}

button.fc-agendaweek-button.btn.btn-primary {
}

button.fc-listWeek-button.btn.btn-primary{
    background: #34ce57;
    border: #34ce57;
}
button.fc-listWeek-button.btn.btn-primary:hover{
    background: #1e6500;
    border: #34ce57;
}
button.fc-listWeek-button.btn.btn-primary.active{
    background: #1e6500;
    border: #34ce57;
}





