	.btn-primary{
		width: 100%;
		height: 50px;
		background-color: #34ce57;
        border-color: #34ce57;
 	}

 	.btn-primary:hover{
    	background-color: #8fdf82;
    	border-color: #8fdf82;

	}


	.form-control{
		width: 100%;
		height: 50px;
	}

	.tudo{
		border: solid;
		margin-left: 30%;
		margin-right: 35%;
		padding-right: 4%;
		padding-left: 4%;
		background-color: white;
		border-radius: 20px;
		border-color: black;
		margin-top: 1%;
		font-family: "Courier New", Courier, monospace;
	}

	h1 {
		color: black;
		margin-top: 4%;
		margin-left: 28%;
		padding-bottom: 8%;
		font-family: "Courier New", Courier, monospace;
		font-weight: bold;

	}

	body {
		background-image: url("../../imagens/calendario.png");
		background-size: 100%;
		background-attachment: fixed
	}


	.btn-secondary{
		background-color: #34ce57;
		border-color: #34ce57;
	}

	.btn-secondary:hover{
		background-color: #34ce57;
		border-color: #34ce57;
	}

	.btn-secondary:focus-visible	{
		background-color: #34ce57;
		border-color: #34ce57;
	}

	h2{
		margin-bottom: 3%;
	}

	@media screen and (max-width: 980px) {

		.tudo {
			padding-top: 2%;
			border: solid;
			margin-left: 5%;
			margin-right: 5%;
			padding-right: 5%;
			padding-left: 5%;
			background-color: white;
			border-radius: 10px;
			border-color: black;
			padding-bottom: 2%;
			margin-top: 7%;
			font-family: "Courier New", Courier, monospace;
		}

		.form-control {
			width: 100%;
			height: 20%;
		}

		.btn-primary {
			width: 100%;
			height: 20% px;
			background-color: #34ce57;
			border-color: #34ce57;
		}

		body {
			background-image: url("../../imagens/calendario.png");
			background-size: 100%;
			background-attachment: fixed
		}

		h1 {
			color: black;
			margin-top: 6%;
			margin-left: 20%;
			margin-right: 20%;
			padding-bottom: 10%;
			font-family: "Courier New", Courier, monospace;
			font-weight: bold;

		}






	}
